body { 
    font-family: "Playwrite GB S", cursive;
}

h1{ 
    font-size: 50px;
}
.name-highlight{ 
    color: orange;
}
.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.banner {
    border: 1px solid red;
    background-image: url("C:\projects\web-portfolio\images\pexels-8moments-1323550.jpg");
}